.FloatingContacts[data-device="mobile"] .FloatingContacts__button-close:after,
.FloatingContacts[data-device="mobile"] .FloatingContacts__button-close:after {
	background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxOCIgaGVpZ2h0PSIxOCI+PHBhdGggZD0iTTE4IDEuOEwxNi4yIDAgOSA3LjIgMS44IDAgMCAxLjggNy4yIDkgMCAxNi4yIDEuOCAxOCA5IDEwLjhsNy4yIDcuMiAxLjgtMS44TDEwLjggOXoiIGZpbGw9IiNmZmYiIGZpbGwtcnVsZT0iZXZlbm9kZCIvPjwvc3ZnPg==");
}
.FloatingContacts__button,
.FloatingContacts__list {
	background-color: var(--fc-bg-color);
	overflow: hidden;
}
.FloatingContacts {
	display: block;
	position: fixed;
	bottom: 15px;
	right: 24px;
    width: 65px;
    height: 65px;
	z-index: 11111111;
}

.FloatingContacts--bottom-right,
.FloatingContacts--bottom-right .FloatingContacts__list {
	right: 24px;
}

.FloatingContacts--bottom-left,
.FloatingContacts--bottom-left .FloatingContacts__list {
	left: 24px;
}

.FloatingContacts_loaded .FloatingContacts__button {
	opacity: 1;
	visibility: visible;
	-webkit-transform: scale(1);
	transform: scale(1);
	-webkit-transition: 0.2s;
	transition: 0.2s;
}
.FloatingContacts [data-icon="dots"] > i {
	display: inline-block;
	width: 5px;
	height: 5px;
	background-color: #fff;
	border-radius: 50%;
	position: absolute;
	left: 19px;
	top: 28px;
}
.FloatingContacts [data-icon="dots"] > i:nth-child(2) {
	left: 28px;
}
.FloatingContacts [data-icon="dots"] > i:nth-child(3) {
	left: 37px;
}
.FloatingContacts__button [data-icon],
.FloatingContacts__button a.FloatingContacts__list-item[data-icon],
.FloatingContacts__list [data-icon],
.FloatingContacts__list a.FloatingContacts__list-item[data-icon] {
	padding: 0 0 0 75px;
}
.FloatingContacts__button [data-icon]:before,
.FloatingContacts__list [data-icon]:before {
	content: "";
	width: 70px;
	left: 5px;
	top: 0;
	height: 100%;
	position: absolute;
	background-repeat: no-repeat;
	background-position: 50%;
	background-size: 20px;
}
.FloatingContacts:hover .FloatingContacts__button {
	-webkit-box-shadow: none;
	box-shadow: none;
}
.FloatingContacts__button {
	width: 60px;
	height: 60px;
	display: inline-block;
	border: 0;
	border-radius: 50% 50% 8px;
	-webkit-box-shadow: rgba(74, 76, 78, 0.45) 0px 3px 15px 0px;
	box-shadow: rgba(74, 76, 78, 0.45) 0px 3px 15px 0px;
	cursor: pointer;
	position: relative;
	z-index: 1;
	opacity: 0;
	visibility: hidden;
	-webkit-transform: scale(0.7);
	transform: scale(0.7);
	-webkit-transition: 0.2s;
	transition: 0.2s;
}
.FloatingContacts__button > * {
	pointer-events: none;
}

.FloatingContacts__button:hover {
	-webkit-box-shadow: none;
	box-shadow: none;
}

@-webkit-keyframes rotate-icons-wrap {
	0%,
	50% {
		-webkit-transform: rotate(0);
		transform: rotate(0);
	}
	52%,
	62% {
		-webkit-transform: rotate(90deg);
		transform: rotate(90deg);
	}
	64%,
	74% {
		-webkit-transform: rotate(180deg);
		transform: rotate(180deg);
	}
	76%,
	86% {
		-webkit-transform: rotate(270deg);
		transform: rotate(270deg);
	}
	88%,
	to {
		-webkit-transform: rotate(1turn);
		transform: rotate(1turn);
	}
}
@keyframes rotate-icons-wrap {
	0%,
	50% {
		-webkit-transform: rotate(0);
		transform: rotate(0);
	}
	52%,
	62% {
		-webkit-transform: rotate(90deg);
		transform: rotate(90deg);
	}
	64%,
	74% {
		-webkit-transform: rotate(180deg);
		transform: rotate(180deg);
	}
	76%,
	86% {
		-webkit-transform: rotate(270deg);
		transform: rotate(270deg);
	}
	88%,
	to {
		-webkit-transform: rotate(1turn);
		transform: rotate(1turn);
	}
}
@-webkit-keyframes rotate-icons {
	0%,
	50% {
		-webkit-transform: rotate(0);
		transform: rotate(0);
	}
	52%,
	62% {
		-webkit-transform: rotate(-90deg);
		transform: rotate(-90deg);
	}
	64%,
	74% {
		-webkit-transform: rotate(-180deg);
		transform: rotate(-180deg);
	}
	76%,
	86% {
		-webkit-transform: rotate(-270deg);
		transform: rotate(-270deg);
	}
	88%,
	to {
		-webkit-transform: rotate(-1turn);
		transform: rotate(-1turn);
	}
}
@keyframes rotate-icons {
	0%,
	50% {
		-webkit-transform: rotate(0);
		transform: rotate(0);
	}
	52%,
	62% {
		-webkit-transform: rotate(-90deg);
		transform: rotate(-90deg);
	}
	64%,
	74% {
		-webkit-transform: rotate(-180deg);
		transform: rotate(-180deg);
	}
	76%,
	86% {
		-webkit-transform: rotate(-270deg);
		transform: rotate(-270deg);
	}
	88%,
	to {
		-webkit-transform: rotate(-1turn);
		transform: rotate(-1turn);
	}
}
@-webkit-keyframes rotate-icons-wrap-2 {
	0%,
	50% {
		-webkit-transform: rotate(0);
		transform: rotate(0);
	}
	52%,
	62% {
		-webkit-transform: rotate(180deg);
		transform: rotate(180deg);
	}
	64%,
	74% {
		-webkit-transform: rotate(270deg);
		transform: rotate(270deg);
	}
	76%,
	86%,
	88%,
	to {
		-webkit-transform: rotate(1turn);
		transform: rotate(1turn);
	}
}
@keyframes rotate-icons-wrap-2 {
	0%,
	50% {
		-webkit-transform: rotate(0);
		transform: rotate(0);
	}
	52%,
	62% {
		-webkit-transform: rotate(180deg);
		transform: rotate(180deg);
	}
	64%,
	74% {
		-webkit-transform: rotate(270deg);
		transform: rotate(270deg);
	}
	76%,
	86%,
	88% {
		-webkit-transform: rotate(1turn);
		transform: rotate(1turn);
	}
	to {
		-webkit-transform: rotate(1turn);
	}
}
@-webkit-keyframes rotate-icons-2 {
	0%,
	50% {
		-webkit-transform: rotate(0);
		transform: rotate(0);
	}
	52%,
	62% {
		-webkit-transform: rotate(-180deg);
		transform: rotate(-180deg);
	}
	64%,
	74% {
		-webkit-transform: rotate(-270deg);
		transform: rotate(-270deg);
	}
	76%,
	86%,
	88%,
	to {
		-webkit-transform: rotate(-1turn);
		transform: rotate(-1turn);
	}
}
@keyframes rotate-icons-2 {
	0%,
	50% {
		-webkit-transform: rotate(0);
		transform: rotate(0);
	}
	52%,
	62% {
		-webkit-transform: rotate(-180deg);
		transform: rotate(-180deg);
	}
	64%,
	74% {
		-webkit-transform: rotate(-270deg);
		transform: rotate(-270deg);
	}
	76%,
	86%,
	88%,
	to {
		-webkit-transform: rotate(-1turn);
		transform: rotate(-1turn);
	}
}
@-webkit-keyframes rotate-icons-wrap-4 {
	0%,
	40% {
		-webkit-transform: rotate(0);
		transform: rotate(0);
	}
	42%,
	50% {
		-webkit-transform: rotate(72deg);
		transform: rotate(72deg);
	}
	52%,
	62% {
		-webkit-transform: rotate(144deg);
		transform: rotate(144deg);
	}
	64%,
	74% {
		-webkit-transform: rotate(216deg);
		transform: rotate(216deg);
	}
	76%,
	86% {
		-webkit-transform: rotate(290deg);
		transform: rotate(290deg);
	}
	88%,
	to {
		-webkit-transform: rotate(1turn);
		transform: rotate(1turn);
	}
}
@keyframes rotate-icons-wrap-4 {
	0%,
	40% {
		-webkit-transform: rotate(0);
		transform: rotate(0);
	}
	42%,
	50% {
		-webkit-transform: rotate(72deg);
		transform: rotate(72deg);
	}
	52%,
	62% {
		-webkit-transform: rotate(144deg);
		transform: rotate(144deg);
	}
	64%,
	74% {
		-webkit-transform: rotate(216deg);
		transform: rotate(216deg);
	}
	76%,
	86% {
		-webkit-transform: rotate(290deg);
		transform: rotate(290deg);
	}
	88%,
	to {
		-webkit-transform: rotate(1turn);
		transform: rotate(1turn);
	}
}
@-webkit-keyframes rotate-icons-4 {
	0%,
	40% {
		-webkit-transform: rotate(0);
		transform: rotate(0);
	}
	42%,
	50% {
		-webkit-transform: rotate(-72deg);
		transform: rotate(-72deg);
	}
	52%,
	62% {
		-webkit-transform: rotate(-144deg);
		transform: rotate(-144deg);
	}
	64%,
	74% {
		-webkit-transform: rotate(-216deg);
		transform: rotate(-216deg);
	}
	76%,
	86% {
		-webkit-transform: rotate(-290deg);
		transform: rotate(-290deg);
	}
	88%,
	to {
		-webkit-transform: rotate(-1turn);
		transform: rotate(-1turn);
	}
}
@keyframes rotate-icons-4 {
	0%,
	40% {
		-webkit-transform: rotate(0);
		transform: rotate(0);
	}
	42%,
	50% {
		-webkit-transform: rotate(-72deg);
		transform: rotate(-72deg);
	}
	52%,
	62% {
		-webkit-transform: rotate(-144deg);
		transform: rotate(-144deg);
	}
	64%,
	74% {
		-webkit-transform: rotate(-216deg);
		transform: rotate(-216deg);
	}
	76%,
	86% {
		-webkit-transform: rotate(-290deg);
		transform: rotate(-290deg);
	}
	88%,
	to {
		-webkit-transform: rotate(-1turn);
		transform: rotate(-1turn);
	}
}
.FloatingContacts__button-icons {
	position: absolute;
	z-index: 2;
	width: 110px;
	height: 110px;
	top: -25px;
	left: 30px;
}
.FloatingContacts__button-icons[data-icons-number="4"] {
	-webkit-animation: 13s infinite rotate-icons-wrap-4;
	animation: 13s infinite rotate-icons-wrap-4;
}
.FloatingContacts__button-icons[data-icons-number="4"] [data-icon] {
	-webkit-animation: 13s infinite rotate-icons-4;
	animation: 13s infinite rotate-icons-4;
}
.FloatingContacts__button-icons[data-icons-number="3"] {
	-webkit-animation: 10s infinite rotate-icons-wrap;
	animation: 10s infinite rotate-icons-wrap;
}
.FloatingContacts__button-icons[data-icons-number="3"] [data-icon] {
	-webkit-animation: 10s infinite rotate-icons;
	animation: 10s infinite rotate-icons;
}
.FloatingContacts__button-icons[data-icons-number="2"] {
	-webkit-animation: 10s infinite rotate-icons-wrap-2;
	animation: 10s infinite rotate-icons-wrap-2;
}
.FloatingContacts__button-icons[data-icons-number="2"] [data-icon] {
	-webkit-animation: 10s infinite rotate-icons-2;
	animation: 10s infinite rotate-icons-2;
}
.FloatingContacts__button-icons [data-icon] {
	padding: 0;
	position: absolute;
	top: 0;
	left: 0;
	width: 60px;
	height: 60px;
}
.FloatingContacts__button-icons [data-icon]:before {
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	background-position: 50%;
	background-size: 30px 30px !important;
}
.FloatingContacts__button-icons [data-icon][data-icon="whatsapp"]:before {
	background-position: 15px 14px;
}
.FloatingContacts[data-device="mobile"] .FloatingContacts__button-close:after,
.FloatingContacts__button:after,
.FloatingContacts[data-device="mobile"] .FloatingContacts__button-close:after {
	height: 100%;
	background-position: 50%;
	background-repeat: no-repeat;
	width: 100%;
	content: "";
	position: absolute;
}
.FloatingContacts__button-icons [data-icon]:first-of-type {
	position: absolute;
	left: -30px;
	top: 50%;
	margin-top: -30px;
}
@-webkit-keyframes dotUp {
	0%,
	47%,
	53%,
	to {
		-webkit-transform: translateY(0);
		transform: translateY(0);
	}
	50% {
		-webkit-transform: translateY(-5px);
		transform: translateY(-5px);
	}
}
@keyframes dotUp {
	0%,
	47%,
	53%,
	to {
		-webkit-transform: translateY(0);
		transform: translateY(0);
	}
	50% {
		-webkit-transform: translateY(-5px);
		transform: translateY(-5px);
	}
}
.FloatingContacts__button-icons [data-icon]:first-of-type > i {
	-webkit-animation: 2.6s linear infinite dotUp;
	animation: 2.6s linear infinite dotUp;
}
.FloatingContacts__button-icons [data-icon]:first-of-type > i:nth-child(2) {
	-webkit-animation-delay: 0.1s;
	animation-delay: 0.1s;
}
.FloatingContacts__button-icons [data-icon]:first-of-type > i:nth-child(3) {
	-webkit-animation-delay: 0.2s;
	animation-delay: 0.2s;
}
.FloatingContacts__button-icons [data-icon]:nth-of-type(2) {
	left: 50%;
	margin: -30px 0 0 -30px;
	top: 0;
}
.FloatingContacts__button-icons [data-icon]:nth-of-type(3) {
	left: 100%;
	top: 50%;
	margin: -30px 0 0 -30px;
}
.FloatingContacts__button-icons [data-icon]:nth-of-type(3):before {
	background-size: 28px 28px !important;
}
.FloatingContacts__button-icons [data-icon]:nth-of-type(4) {
	left: 50%;
	top: 100%;
	margin: -30px 0 0 -30px;
}
.FloatingContacts__button-icons [data-icon]:nth-of-type(5) {
	left: 50%;
	top: 0;
	margin: -30px 0 0 -30px;
}
.FloatingContacts__button-icons[data-icons-number="4"] {
	-webkit-transform: rotate(290deg);
	transform: rotate(290deg);
}
.FloatingContacts__button-icons[data-icons-number="4"] [data-icon] {
	-webkit-transform: rotate(-290deg);
	transform: rotate(-290deg);
}
.FloatingContacts__button-icons[data-icons-number="4"]
	[data-icon]:nth-of-type(2) {
	left: 35%;
	top: 97%;
}
.FloatingContacts__button-icons[data-icons-number="4"]
	[data-icon]:nth-of-type(3) {
	left: 90%;
	top: 79%;
}
.FloatingContacts__button-icons[data-icons-number="4"]
	[data-icon]:nth-of-type(4) {
	left: 91%;
	top: 21%;
}
.FloatingContacts__button-icons[data-icons-number="4"]
	[data-icon]:nth-of-type(5) {
	left: 33%;
	top: 3%;
}
.FloatingContacts__button-close {
	visibility: hidden;
	opacity: 0;
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
}
.FloatingContacts__button:after {
	top: 0;
	left: 0;
	display: block;
	-webkit-transition: opacity 0.2s, -webkit-transform 0.2s;
	transition: opacity 0.2s, transform 0.2s, -webkit-transform 0.2s;
}
.FloatingContacts__button_dialog-open {
	background-image: none;
	border-radius: 50%;
	-webkit-transition: border-radius 0.1s;
	transition: border-radius 0.1s;
}
.FloatingContacts__button_dialog-open .FloatingContacts__button-close {
	visibility: visible;
	opacity: 1;
	-webkit-transform: scale(1);
	transform: scale(1);
}
.FloatingContacts[data-device="mobile"] .FloatingContacts__button-close > *,
.FloatingContacts__button_dialog-open .FloatingContacts__button-icons {
	opacity: 0;
	visibility: hidden;
}
.FloatingContacts__button_dialog-open:after {
	visibility: hidden;
	opacity: 0;
	-webkit-transform: scale(0);
	transform: scale(0);
}
.FloatingContacts__button:active,
.FloatingContacts__button:focus,
.FloatingContacts__button:hover {
	outline: 0;
}
.FloatingContacts[data-device="mobile"] .FloatingContacts__button-close:after {
	opacity: 0;
	-webkit-transform: scale(0.5);
	transform: scale(0.5);
	top: 0;
	left: 0;
	-webkit-transition: 0.2s;
	transition: 0.2s;
}
.FloatingContacts__button,
.FloatingContacts__list,
.FloatingContacts__list a.FloatingContacts__list-item:not(:first-child):after,
.FloatingContacts__list-item:not(:first-child):after {
	background-color: var(--fc-bg-color);
}
.FloatingContacts__list a.FloatingContacts__list-item:hover,
.FloatingContacts__list-item:hover {
	border-color: var(--fc-bg-color);
	background-color: var(--fc-bg-color);
}
.FloatingContacts[data-device="mobile"] .FloatingContacts__button-close:after {
	opacity: 0;
	-webkit-transform: scale(0.5);
	transform: scale(0.5);
	top: 0;
	left: 0;
	-webkit-transition: 0.2s;
	transition: 0.2s;
}

.FloatingContacts__list {
	max-height: 0;
	position: fixed;
	bottom: 85px;
	right: 24px;
	padding: 0;
	border-radius: 5px;
	width: 245px;
	margin-bottom: 20px;
	-webkit-box-shadow: 0 3px 18px 0 rgba(0, 0, 0, 0.16);
	box-shadow: 0 3px 18px 0 rgba(0, 0, 0, 0.16);
}
.FloatingContacts__list:before {
	content: "";
	width: 100%;
	height: 200px;
	position: absolute;
	bottom: -85px;
	right: 0;
	opacity: 0.5;
	z-index: -1;
}
.FloatingContacts__list:after {
	border-top-color: var(--fc-bg-color);
	content: "";
	width: 0;
	height: 0;
	position: absolute;
	top: 100%;
	display: block;
	right: 17px;
	border: 14px solid transparent;
	border-top-color: var(--fc-bg-color);
	margin-top: -1px;
}

.FloatingContacts--bottom-left .FloatingContacts__list:after {
	left: 17px;
}

.FloatingContacts__list a.FloatingContacts__list-item,
.FloatingContacts__list-item {
	padding: 0 0 0 25px;
	height: 50px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	position: relative;
	cursor: pointer;
	color: #fff;
	font-size: 18px;
	border: 1px solid transparent;
	border-radius: 10px;
	-webkit-transition: background-color 0.2s;
	transition: background-color 0.2s;
	margin: 3px 0;
	text-decoration: none;
}
.FloatingContacts__list a.FloatingContacts__list-item:first-child,
.FloatingContacts__list-item:first-child {
	margin: 10px 0 0;
}
.FloatingContacts__list a.FloatingContacts__list-item:last-child,
.FloatingContacts__list-item:last-child {
	margin: 0 0 10px;
}
.FloatingContacts__list a.FloatingContacts__list-item:hover,
.FloatingContacts__list-item:hover {
	border-color: #3498f1;
	background-color: #3498f1;
	text-decoration: none;
	border-radius: 0;
}
.FloatingContacts__list a.FloatingContacts__list-item:not(:first-child):after,
.FloatingContacts__list-item:not(:first-child):after {
	content: "";
	width: calc(100% - 44px);
	left: 22px;
	top: -3px;
	position: absolute;
	display: block;
	background-color: #3498f1;
	height: 1px;
}
.FloatingContacts.show .FloatingContacts__list {
	animation-duration: 300ms;
	animation-name: fade_in;
	transition-timing-function: ease-in;
	max-height: 100%;
	overflow: visible;
}
.FloatingContacts.show[data-device="mobile"]
	.FloatingContacts__button-close:after {
	opacity: 1;
	-webkit-transform: scale(1);
	transform: scale(1);
}
.FloatingContacts.bounce_out .FloatingContacts__list {
	-webkit-animation-duration: 0.3s;
	animation-duration: 0.3s;
	-webkit-animation-name: bounce_out;
	animation-name: bounce_out;
	-webkit-transition-timing-function: ease-in;
	transition-timing-function: ease-in;
}

@keyframes fade_in {
	0% {
		opacity: 0;
		transform: scale(0, 0);
		transform-origin: bottom right;
	}
	50% {
		transform: scale(1.03, 1.03);
		transform-origin: bottom right;
	}
	100% {
		opacity: 1;
		transform: scale(1, 1);
		transform-origin: bottom right;
	}
}

.FloatingContacts [data-icon="livechat"]:before {
	background-image: url(../images/livechat.svg);
	background-size: 20px 16px;
}
.FloatingContacts [data-icon="phone"]:before {
	background-image: url(../images/tell.svg);
	background-size: 16px;
}
.FloatingContacts [data-icon="email"]:before {
	background-image: url(../images/email.svg);
	background-size: 19px;
}
.FloatingContacts [data-icon="whatsapp"]:before {
	background-image: url(../images/whatsapp.svg);
	background-size: 19px;
}
.FloatingContacts-wrapper {
	z-index: 1;
	position: relative;
}
.FloatingContacts__button {
	padding: 0;
}
.FloatingContacts__button,
.FloatingContacts__list,
.FloatingContacts__list a.FloatingContacts__list-item:not(:first-child):after,
.FloatingContacts__list-item:not(:first-child):after {
	background-color: var(--fc-bg-color, #1e88e5);
}
.FloatingContacts__list:after {
	border-top-color: var(--fc-bg-color, #1e88e5);
}
.FloatingContacts__list a.FloatingContacts__list-item:hover,
.FloatingContacts__list-item:hover {
	border-color: var(--fc-bg-color, #1e88e5);
	background-color: var(--fc-hover-color, #3498f1);
}

.FloatingContacts__link-icon {
    position: absolute;
    left: 4px;
    width: 70px;
    top: 0;
    font-size: 20px;
    line-height: 50px;
    text-align: center;
}

.FloatingContacts__link-label {
    padding: 0 0 0 50px;
}